/* === Google Font Import - Poppins === */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */
/* *{
    font-family: 'Montserrat', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
 }
 
 body{
  background-color: #dc143c22; 
 } */
 *{
    box-sizing: border-box;
    margin: 0%;
}
body{
    margin: 0%;
    font-size: 17px;
    padding: 0%;
    
}
 
/* body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
} */
/**********PAGE-1************/
.homepage{
    
    /* padding: 8rem 5rem; */
    padding: 8rem 5rem;

    height: 32.4rem;

    background-image: url(images/back.jpg);
    width: 1470px;
    background-position: center;
    background-size: cover;
    text-align: left;
    line-height: 399%;
    
    
}

.homepage h2{
    font-family: 'Alfa Slab One', cursive;
    font-weight: normal;
    margin-bottom: 0;
    font-size: 5rem;
    color: #f2dac3da;
    margin-top: 4%;
}
.homepage h3{
    font-family: 'Alfa Slab One', cursive;
    font-size: 3.625rem;
    font-weight: normal;
    line-height: 86%;
    
      
}
.homepage h4{
    font-family: 'Alfa Slab One', cursive;
    font-size: 3.625rem;
    font-weight: normal;
    line-height: 86%;
}

/* ***********NAVIGATION BAR*************** */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#040404;
    position:sticky;   
    padding: 0.5rem 2rem;
    top: 0;
    left: 0;
    z-index: 5;
    
}

.logo{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 2.25rem;
    
}

nav .link a{
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    color: white;
    margin: 1rem;
    cursor: pointer;
}
nav .link a:hover{
    color: #2ecc71;
}


/* nav bar */

section{
  position: relative;  
  height: 480px;
  /* height: 450px; */
  /* width: 1075px; */
  width: 1350px;

  display: flex;
  align-items: center;
}

.swiper{
  /* width: 950px; */
  width: 1000px;

}

.card{
  position: relative;
  background: #fff;
  border-radius: 20px;
  margin: 20px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card::before{
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background: #7d2ae8;
  border-radius: 20px 20px 0 0;
}

.card .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

section .card .image{
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background: #7d2ae8;
}

section .card .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.card .media-icons{
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .media-icons i{
  color: #fff;
  opacity: 0.6;
  margin-top: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card .media-icons i:hover{
  opacity: 1;
}

.card .name-profession{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
    color: #2ecc71;
    
} 

.name-profession .name{
  font-size: 20px;
  font-weight: 600;
}

.name-profession .profession{
  font-size:15px;
  font-weight: 500;
}

.card .rating{
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.card .rating i{
  font-size: 18px;
  margin: 0 2px;
  color: #7d2ae8;
}

.card .button{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card .button button{
  background: #7d2ae8;
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 22px;
  border-radius: 20px;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button button:hover{
  background: #6616d0;
}

.swiper-pagination{
  position: absolute;
}

.swiper-pagination-bullet{
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background: #7d2ae8;
}

.swiper-button-next, .swiper-button-prev{
  opacity: 0.7;
  color: #7d2ae8;
  transition: all 0.3s ease;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
  opacity: 1;
  color: #7d2ae8;
}